<section class="grid grid-cols-3 max-xl:grid-cols-1 gap-4 max-xl:flex {{['top-right','bottom-right'].includes(invertedCorner())?'max-xl:flex-col':'max-xl:flex-col-reverse'}} max-xl:items-center">
   
    @if (['top-right','bottom-right'].includes(invertedCorner())) {
        <!-- <div> -->
            <div class="group space-y-6 gap-2 flex flex-col max-xl:w-full px-4 {{colorClass()}} {{classNames()}}" >
                <header class="flex  justify-between items-center gap-3 flex-wrap">
                    <h2 style="margin: 0; padding: 0;" typo="h1">{{_title()}}</h2>
                    <div class="flex justify-center items-center md:mt-3">
                        @let link = ['/view-products', slug(), data().shortDescription | slice:0:60 | slugify, data().groupId];
                        <a [routerLink]="link" [queryParams]="{ ct_ref: crypto.signLink(link)}" typo="button" pButton rounded >
                            <span typo="button-text" pButtonLabel>Explore</span>
                            <i class="pi pi-arrow-right mt-1" style="font-size: 10px;" pButtonIcon></i>
                        </a>
                    </div>
                </header>
                <div
                    class="shape inverted-{{invertedCorner()}}-radius-shape bg-white w-full h-full max-w-lg max-xl:max-w-full max-xl:max-h-[300px] max-h-[560px] overflow-hidden">
                    <img [src]="data().profileImage?.[0]" [alt]="data().name+' section'" class="size-full object-cover block group-hover:lg:scale-105 transition-transform duration-200 " />
                </div>
            </div>
        <!-- </div> -->
    }
    
    <div class="col-span-2 grid grid-cols-3 max-md:gap-2 max-md:space-y-1.5 space-y-4 max-md:grid-cols-2 max-xl:w-full">
        @for (item of items(); track item.groupId) {
            <div>
                <div class="mx-1">
                    <h3 typo="h5!" class="text-nowrap truncate mb-2! pb-0!">{{data().name}}</h3>
                    
                </div>
                <category-card [data]="item" />
                <div class="mx-1 mt-1 mb-2">
                    @let link = ['/view-products', slug(), item.name | slugify, item.shortDescription | slice:0:60 | slugify, item.groupId];
                    <a [routerLink]="link" [queryParams]="{ ct_ref: crypto.signLink(link)}" typo="md" class="text-blue-400 ax-md:text-sm!" >See more in {{item.name}}</a>
                </div>
            </div>
        }
    </div>

    @if (!['top-right','bottom-right'].includes(invertedCorner())) {
        <!-- <div> -->
            <div class="group space-y-6 flex flex-col max-xl:w-full px-4 {{colorClass()}} {{classNames()}}" >
                <header class="flex  justify-between items-center gap-3 flex-wrap">
                    <h2 style="margin: 0; padding: 0;" typo="h1">{{_title()}}</h2>
                    <div class="flex justify-center items-center md:mt-3">
                        <button typo="button" pButton rounded >
                            <span typo="button-text" pButtonLabel>Explore</span>
                            <i class="pi pi-arrow-right mt-1" style="font-size: 10px;" pButtonIcon></i>
                        </button>
                    </div>
                </header>
                <div
                    class="shape inverted-{{invertedCorner()}}-radius-shape bg-white w-full h-full max-w-lg max-xl:max-w-full max-xl:max-h-[300px] max-h-[560px] overflow-hidden">
                    <img [src]="data().profileImage?.[0]" [alt]="data().name+' section'" class="size-full object-cover block group-hover:lg:scale-105 transition-transform duration-200 " />
                </div>
            </div>
        <!-- </div> -->
    }

</section>