<!-- <section class="w-full space-y-4 flex flex-col pt-8 bg-rose-300">
    <header class="mx-4 flex  justify-between items-center gap-3 flex-wrap">
        <h2 style="margin: 0; padding: 0;" typo="h1">Touch Product Before Purchase</h2>
        <div class="flex justify-center items-center md:mt-3">
            <button typo="button" pButton rounded>
                <span typo="button-text" pButtonLabel>Explore</span>
                <i class="pi pi-arrow-right mt-1" style="font-size: 10px;" pButtonIcon></i>
            </button>
        </div>
    </header>
    <div class="bg-rose-500 md:px-2 pt-4 pb-2  space-y-4">
        <p-carousel class="" [value]="heroCarouselItems" [numVisible]="4" [numScroll]="3" [showNavigators]="true"
            [showIndicators]="true" [responsiveOptions]="carouselResponsiveOptions" [circular]="true">
            <ng-template let-product #item>
                <category-card className="max-sm:mx-2" [items]="[1,2,3]" />
            </ng-template>
        </p-carousel>
        <p-carousel class="" [value]="heroCarouselItems" [numVisible]="4" [numScroll]="3" [showNavigators]="true"
            [showIndicators]="true" [responsiveOptions]="carouselResponsiveOptions" [circular]="true">
            <ng-template let-product #item>
                <category-card className="max-sm:mx-2" [items]="[1,2,3]" />
            </ng-template>
        </p-carousel>
    </div>

</section> -->