<div
    class="group max-w-[300px] max-md:h-[200px] max-lg:h-[280px] h-[320px] flex flex-col justify-center items-center overflow-hidden bg-white rounded-sm p-3 max-md:p-2 {{className()}} ">
    <div [ngClass]="sectionGridStyle().container" class="cursor-pointer h-full w-full grid gap-2">
        @for (item of items().slice(0,5); track $index) {
        <div
            [ngClass]="sectionGridStyle().item[$index]||sectionGridStyle().item[sectionGridStyle().item.length-1]"
            class="hover:lg:scale-95 bg-neutral-100 flex flex-col justify-center items-center overflow-hidden transition-transform duration-200">
            <!-- <div class="w-full ">
        
                        </div> -->
        </div>
        }
    </div>

</div>