
<div [ngClass]="{'max-md:hidden!': hiddenOnMobile()}" class="hidden max-md:block max-md:w-full max-md:fixed max-md:inset-0 max-md:bg-white/10 max-md:backdrop-blur-sm max-md:z-50"></div>
<div 
[ngClass]="{'max-md:scale-100! max-md:rounded-none!': opened(), 'max-md:hidden!': hiddenOnMobile()}"
class="flex flex-col gap-4 max-md:w-full max-md:fixed max-md:inset-0 max-md:bg-white max-md:z-50 max-md:overflow-y-auto transition-transform duration-400 max-md:scale-90 max-md:rounded-lg">
    <div class="md:hidden flex justify-between items-center top-0 sticky px-4 py-1 bg-white z-10">
        <button aria-label="Close filter panel" class="bg-transparent!" typo="button" pButton text rounded (click)="closeFilterPanel()" >
            <i class="pi pi-chevron-left -ml-4" style="font-size: 12px;" pButtonIcon></i>
            <span typo="button-text" class="hover:text-rose-400 hover:font-normal!" pButtonLabel>Go Back</span>
        </button>
        <button aria-label="Apply filters" typo="button" pButton rounded (click)="openFilterPanel()" >
            <span typo="button-text" pButtonLabel>Apply</span>
        </button>
    </div>
    @for (item of filters(); track item.groupId) {
    <fieldset class="flex flex-col gap-2 max-md:px-4">
        <legend typo="h6!" class="mb-1">
            {{ item.name }}
        </legend>

        <ul class="flex flex-col gap-0 mb-0 pb-0">
            @for (filter of item.filters.slice(0,5); track filter.filterId) {
            <li class="flex items-center list-none">
                <p-checkbox [inputId]="filter.filterId" name="group" [value]="filter.name" />
                <label style="font-size: 16px;" typo="body" [for]="filter.filterId" class="truncate text-nowrap px-2 max-md:text-lg! font-medium text-primary font-lato cursor-pointer mt-0.5 hover:text-rose-400 transition-all duration-200">
                    {{ filter.name }}
                </label>
            </li>
            }
        </ul>

        @if (item.filters.length > 5) {
            @let expanded = filterGroupsExpansion()[item.groupId];
            <p-accordion (valueChange)="toggleFilterGroupExpansion(item.groupId)" value="1">
                <p-accordion-panel value="0">

                    <p-accordion-content class="patch-p-accordion-content-padding transition-transform duration-200 {{expanded? '-translate-y-2!':''}}">
                        <ul class="flex flex-col gap-0">
                            @for (filter of item.filters.slice(5); track filter.filterId) {
                            <li class="flex items-center list-none">
                                <p-checkbox [inputId]="filter.filterId" name="group" [value]="filter.name" />
                                <label typo="body" [for]="filter.filterId" class="px-2 cursor-pointer mt-0.5 hover:text-rose-400 transition-all duration-200">
                                    {{ filter.name }}
                                </label>
                            </li>
                            }
                        </ul>
                    </p-accordion-content>
                    <p-accordion-header class="px-0! pt-0! pb-2! bg-transparent!">
                        <ng-template #toggleicon let-active="active">
                            @if (active) {
                            <i class="pi pi-minus"></i>
                            } @else {
                            <i class="pi pi-plus"></i>
                            }
                        </ng-template>
                        <span class="flex items-center gap-2 w-full">
                            <span typo="md" class="whitespace-nowrap text-rose-400 hover:text-rose-500 text-md! font-lato">See {{expanded?' less':' more'}}</span>
                        </span>
                    </p-accordion-header>
                </p-accordion-panel>
            </p-accordion>
        }
        @else {
            <hr class="mb-2">
        }
    </fieldset>
    }


</div>